{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'Tasks1/styles.css' %}">
</head>
<body>
    <div class="mother">
        <div class="Users">
           
        </div>

        <div class="mytasks" id="mytasks">
                    {%  for Task in Tasks %}
                        {%if Task.Creator == pk %}
                        <ol>
                            <li>{{Task}}</li>
                        </ol>
                           
                        {% endif %}

                    {% endfor %}
               
            </ul>
            <a href="{% url 'Tasks1:addTask' %}"> add a task</a><br>
            <a href="{% url 'Tasks1:addUser' %}"> add User</a>
               
        </div>
</div>


<script src="{% static 'Tasks1/index.js' %}"></script>    
</body>
</html>