{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'Tasks1/styles.css' %}">
</head>
<body>
    <div class="mother">
        <div class="Users">
           
        </div>

        <div class="mytasks" id="mytasks">
                {% if Tasks %}
                <ol>
                    {% for task in Tasks %}
                    
                       {% if one == task.Creator%}
                            <li>{{task.Creator}} {{task}}</li>
                        {% endif %}
                        
                       
                    {% endfor %}
                    </ol>
                {% endif %}
            <a href="{% url 'Tasks1:addTask' %}"> add a task</a><br>
            <a href="{% url 'Tasks1:addUser' %}"> add User</a>
               
        </div>
</div>


<script src="{% static 'Tasks1/index.js' %}"></script>    
</body>
</html>